.button {
  display: block;

  padding-top: 15px;
  padding-bottom: 16px;

  @include font(700, 18px, 18px);
  background-color: transparent;
  border-radius: 30px;

  &--download {
    margin: 0 auto;
    width: 290px;
    padding-left: 40px;
    padding-right: 40px;
    color: $white;
    border: 3px solid $white;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-top: -2px;
      margin-left: 20px;

      width: 300px;
      padding-left: 45px;
      padding-right: 45px;
    }

    @media (min-width: $desktop-width) {
      @include font(700, 21px, 18px);

      margin: 0;
      margin-top: 12px;
      margin-left: 130px;

      width: 300px;
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  &--download:hover,
  &--download:focus {
    color: $pink;
    background-color: $white;
  }

  &--download:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: $white;
  }

  &--send {
    width: 280px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 12px;
    color: $pink;
    border: 3px solid $pink;
  }

  &--send:hover,
  &--send:focus {
    color: $white;
    background-color: $pink;
  }

  &--send:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $pink;
  }

  &--cancel {
    width: 280px;
    padding-left: 104px;
    padding-right: 105px;
    color: rgba(40, 54, 69, 0.1);
    border: 3px solid rgba(40, 54, 69, 0.1);
  }

  &--cancel:hover,
  &--cancel:focus {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }

  &--cancel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
    border: 3px solid transparent;
  }

  &--submit,
  &--modal {
    padding: 17px 30px 16px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;

    &:hover,
    &:focus {
      background-color: $green-darker;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    &:disabled {
      background-color: $grey;
      cursor: default;
    }
  }
}
