.contest__title {
  @include font(300, 24px, 30px);
  text-align: center;
  color: $white;
  background-color: $dark-two;
}

.contest__prize {
  padding-left: 25px;
  padding-right: 25px;

  @include font(400, 14px, 30px);
  text-align: center;
  color: $dark-two;
}

.gallery__slogan {
  padding-left: 40px;
  padding-right: 40px;

  @include font(400, 14px, 30px);
  text-align: center;
  color: $dark-two;
}
