.copyright {
  margin-top: 34px;
  font-size: 0;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 9px;
    text-align: right;

    width: 150px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    width: 170px;
  }
}

.copyright__text {
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;

  @include font(400, 14px, 18px);

  @media (min-width: $desktop-width) {
    padding-top: 3px;

    @include font(400, 18px, 18px);
  }
}

.copyright__link {
  margin-left: 14px;

  display: inline-block;
  vertical-align: middle;

  width: 27px;
  height: 34px;
}

.copyright__academy-svg {
  fill: $pink;

  &:hover,
  &:focus {
    fill: $dark-two;
  }

  &:active {
    opacity: 0.3;
  }
}
