.downloads {
  padding-top: 28px;
  padding-bottom: 17px;
  text-align: center;
  background-color: $blue-darkest;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 0;
    padding-right: 0;

    width: 300px;
    background-color: transparent;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    padding-bottom: 103px;
    padding-left: 0;
    padding-right: 0;
  }
}

.downloads__wrapper {
  @media (max-width: $mobile-width-max) {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }
}

.downloads__slogan {
  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 31px;
    padding-left: 55px;
    padding-right: 55px;

    @include font(300, 40px, 48px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    padding-left: 30px;
    padding-right: 30px;

    @include font(300, 50px, 60px);
  }
}

.downloads__download-button {
  margin-bottom: 32px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.downloads__markets {
  font-size: 0;
}

.downloads__market {
  margin-left: 16px;
  margin-right: 16px;

  display: inline-block;
  vertical-align: top;
  width: 47px;
  height: 56px;

  background-color: transparent;

  &--apple {
    background-image: url("../../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 47px 56px;
  }

  &--android {
    background-image: url("../../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center 8px;
    background-size: 43px 47px;
  }

  &--windows {
    background-image: url("../../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: right 12px;
    background-size: 44px 41px;
  }
}

.downloads__description {
  margin-top: 22px;

  @include font(300, 14px, 24px);
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 35px;

    @include font(300, 18px, 24px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}
