.editor {
  background-color: $white;
}

.editor__slogan {
  padding-left: 32px;
  padding-right: 32px;

  @include font(400, 14px, 30px);
  text-align: center;
  color: $dark-two;
}

// .editor__form {
// }

.editor__image {
  width: 280px;
  height: 374px;
}

.editor__items {
  @include list-none;
}

.editor__buttons {
  padding-top: 38px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}
