.form {
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;

  // background-color: $white;
  background-color: rgba(255, 0, 0, 0.5);

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.form__fieldset {
  &--fullname {
    background-color: $white;
  }

  &--achievements {
    background-color: $white-two;
    // временно
    min-height: 604px;
  }

  &--contacts {
    background-color: $white;
  }

  &--application {
    background-color: $white-two;
    // временно
    min-height: 340px;
  }

  &--emotions {
    background-color: $white;
  }
}

.form__title {
  @include font(400, 14px, 18px);
  text-align: center;
  color: $pink;

  &--achievements {
    padding-left: 50px;
    padding-right: 50px;
  }

  &--application {
    padding-left: 70px;
    padding-right: 70px;
  }

  &--emotions {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.form__field-text {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 56px;
  }
}

.form__text-label {
  padding: 0;
  padding-top: 28px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 0;

  @include font(400, 14px, 30px);
  color: $pink;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 22px;
  }
}

.form__text-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 59px;
  width: 100%;
  outline: none;

  @include font(400, 18px, 30px);
  text-align: left;
  color: $dark-two;
  border: 2px solid $grey;
  border-radius: 3px;

  &:hover {
    border: 2px solid $dark-two;
  }

  &:focus {
    border: 2px solid $pink;
  }

  &::placeholder {
    @include font(400, 18px, 30px);
    text-align: left;
    color: $dark-two;
  }
}

.form__field-checkbox {
  margin-bottom: 63px;
}

.form__field-radio {
  margin-bottom: 57px;
}

.form__checkbox-label,
.form__radio-label {
  padding-left: 50px;

  @include font(400, 18px, 30px);
  color: $dark-two;
}

.form__checkbox-input {
  @include font(400, 18px, 30px);
  color: $dark-two;
}

.form__radio-input {
  @include font(400, 18px, 30px);
  color: $dark-two;
}

.form__textarea {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  height: 197px;
  resize: none;

  &::placeholder {
    @include font(400, 18px, 30px);
    text-align: left;
    color: $dark-two;
  }

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 189px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
    height: 124px;
  }
}

.form__submit {
  padding-top: 12px;
  padding-bottom: 13px;
  width: 276px;

  @include font(700, 18px, 30px);
  text-transform: uppercase;
  color: $white;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 3px;

  &:hover,
  &:focus {
    color: $white;
    background-color: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:disabled {
    color: $white;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
  }
}

.form__note {
  @include font(400, 14px, 30px);
  text-transform: uppercase;
  text-align: center;
  color: $dark-two;
}

.form__note-symbol {
  @include font(400, 14px, 30px);
  color: $pink;
}
