.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width-max) {
    text-align: center;

    &--index {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 34px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 68px;
  }
}
