.post {
  &--panorama {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }

  &--card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 301px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
      width: 300px;
      min-height: 455px;
    }

    @media (min-width: $tablet-width) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
      min-height: 555px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.post__panorama {
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  display: block;
  position: relative;
  max-width: 1200px;
  overflow: hidden;

  @media (max-width: $mobile-width-max) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    height: 506px;
  }
}

.post__panorama img {
  display: block;

  @media (min-width: $tablet-width) {
    position: relative;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }
}

.post__panorama-rubric {
  position: absolute;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;

  @include font(700, 12px, 24px);
  text-transform: uppercase;
  color: $white;
  background-color: $pink;

  @media (min-width: $tablet-width) {
    top: 57px;
    transform: translateX(170px);
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    transform: translateX(330px);
  }
}

.post__image {
  display: block;

  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.post__image img {
  display: block;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 50%;
    width: auto;
    max-width: inherit;
    height: 300px;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.post__body {
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 28px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 28px;
    padding-right: 31px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      padding-top: 19px;
      padding-bottom: 24px;
      padding-left: 28px;
      padding-right: 29px;

      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      padding-right: 31px;
    }
  }
}

.post__header {
  &--panorama {
    @media (min-width: $tablet-width) {
      margin-right: 20px;

      order: -2;
      flex-grow: 1;
    }
  }
}

.post__author {
  @include font(700, 14px, 24px);
}

.post__text {
  margin: 0;

  @include font(400, 14px, 24px);
  flex-grow: 1;
}

.post__time {
  display: inline;

  @include font(300, 12px, 24px);
  text-transform: uppercase;
}

.post__action {
  margin-top: 10px;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    padding-left: 0;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      margin-top: 0;
      order: -1;
    }
  }
}

.post__stats {
  margin: 0;
  margin-left: 19px;

  @include font(400, 12px, 24px);
  text-transform: uppercase;
  text-decoration: none;
  color: $pink;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: auto;

    order: -1;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.like-button {
  padding: 0;
  width: 13px;
  height: 12px;
  text-indent: -1000px;
  overflow: hidden;

  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 12px;

  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
  }
}
