.reviews {
  // background-color: $white;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.reviews__item {
  padding: 0 22px;
}

.reviews__author-name {
  @include font(700, 18px, 30px);
  color: $black;
}

.reviews__text {
  @include font(400, 14px, 30px);
  color: $dark-two;
}
