.tariffs {
  background-color: $grey-light;
}

.tariffs__bg-triangle {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 36px;
  max-width: 100%;

  @include bg-triangle(26px);

  @media (min-width: $tablet-width) {
    padding-top: 88px;
    padding-bottom: 68px;

    @include bg-triangle(51px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 140px;
    padding-bottom: 96px;

    @include bg-triangle(65px);
  }
}

.tariffs__table {
  position: relative;
  border-collapse: collapse;
  left: 50%;
  transform: translateX(-50%);
  width: 262.5%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.tariffs__features-header {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.tariffs__header + .tariffs__header {
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}

.tariffs__header {
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  text-transform: uppercase;

  min-width: 276px;
  color: $white;
  background-color: $dark-two;
  background-clip: padding-box;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    padding-bottom: 12px;
    min-width: 154px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 234px;
  }

  &--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 73px;

    background-color: transparent;
    background-image: url("../../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 74px 73px;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      width: 61px;
      height: 61px;

      background-image: url("../../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 61px 61px;
    }
  }

  &--hit::after {
    content: "ХИТ";
    position: absolute;
    top: 14px;
    left: 12px;
    transform: rotate(-45deg);

    @include font(400, 14px, 24px);
    color: $white;

    @media (min-width: $tablet-width) {
      top: 6px;
      left: 6px;

      @include font(700, 14px, 24px);
    }

    @media (min-width: $desktop-width) {
      top: 12px;
      left: 12px;

      @include font(400, 16px, 30px);
    }
  }
}

.tariffs__cell {
  position: relative;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 68px;
  min-width: 276px;

  background-color: $white;
  background-clip: padding-box;

  border: 2px solid $grey;
  border-top: none;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 154px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    min-width: 234px;
  }

  &--feature-title {
    border-top: 2px solid $grey;

    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }
}

.tariffs__feature {
  @media (min-width: $tablet-width) {
    @include font(400, 14px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font(400, 18px, 30px);
  }

  &--name {
    @include font(400, 14px, 24px);
    text-transform: uppercase;
    color: $dark-two;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.tariffs__name {
  margin: 0;

  @include font(700, 18px, 30px);

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    @include font(700, 16px, 30px);
  }
}

.tariffs__cost {
  @include font(300, 24px, 30px);

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    @include font(300, 18px, 24px);
  }
}

.tariffs__feature-state {
  position: absolute;
  display: block;
  width: 31px;
  height: 30px;
  top: 13px;
  right: 17px;
  text-indent: -1000px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &--on {
    background-color: transparent;
    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px 21px;
  }

  &--off {
    background-color: transparent;
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px 26px;
  }
}

.tariffs__toggles {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
