@mixin font($fweight: 400, $fsize: 18px, $lheight: 30px) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: $fweight;
  font-style: normal;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin bg-triangle($height: 25px, $top: 0) {
  &::before {
    content: "";
    position: absolute;
    top: $top;
    width: 100%;
    height: 100%;
    background-color: $grey-light;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% $height;
    z-index: 0;
  }
}
