$leaf: #68b738;
$aqua-marine: #56c3b2;
$seafoam-blue: #63d1bb;
$dark: #161c35;
$dark-two: #283645;
$white: #ffffff;
$white-two: #f2f2f2;
$very-light: #f1f1f1;


$tablet-width: 660px;
$desktop-width: 1200px;
